# ANOVA  - Lab

## Introduction

In this lab, you'll get some brief practice generating an ANOVA table (AOV) and interpreting its output. You'll also perform some investigations to compare the method to the t-tests you previously employed to conduct hypothesis testing.

## Objectives

In this lab you will: 

- Use ANOVA for testing multiple pairwise comparisons 
- Interpret results of an ANOVA and compare them to a t-test

## Load the data

Start by loading in the data stored in the file `'ToothGrowth.csv'`:

In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

## Generate the ANOVA table

Now generate an ANOVA table in order to analyze the influence of the medication and dosage:

In [2]:
df = pd.DataFrame(pd.read_csv('ToothGrowth.csv'))
df.head()

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

In [14]:
formula = 'len ~ C(supp)*dose'
lm = ols(formula, df).fit()
table = sm.stats.anova_lm(lm, typ=2)
print(table)

                   sum_sq    df           F        PR(>F)
C(supp)        205.350000   1.0   12.317020  8.936452e-04
dose          2224.304298   1.0  133.415146  1.907985e-16
C(supp):dose    88.920107   1.0    5.333483  2.463136e-02
Residual       933.634929  56.0         NaN           NaN

## Interpret the output

Make a brief comment regarding the statistics and the effect of supplement and dosage on tooth length:

# Both supp and dose are significant and in a different way from each other.

## Compare to t-tests

Now that you've had a chance to generate an ANOVA table, its interesting to compare the results to those from the t-tests you were working with earlier. With that, start by breaking the data into two samples: those given the OJ supplement, and those given the VC supplement. Afterward, you'll conduct a t-test to compare the tooth length of these two different samples:

In [15]:
vc = df.loc[df.supp == 'VC']
oj = df.loc[df.supp == 'OJ']
display(
    vc.head(),
    oj.head()
)

    len supp  dose
0   4.2   VC   0.5
1  11.5   VC   0.5
2   7.3   VC   0.5
3   5.8   VC   0.5
4   6.4   VC   0.5

     len supp  dose
30  15.2   OJ   0.5
31  21.5   OJ   0.5
32  17.6   OJ   0.5
33   9.7   OJ   0.5
34  14.5   OJ   0.5

Now run a t-test between these two groups and print the associated two-sided p-value:

In [16]:
import scipy.stats as stats

In [17]:
# Calculate the 2-sided p-value for a t-test comparing the two supplement groups
stats.ttest_ind(vc['len'], oj['len'], equal_var = False)

Ttest_indResult(statistic=-1.91526826869527, pvalue=0.06063450788093387)

## A 2-Category ANOVA F-test is equivalent to a 2-tailed t-test!

Now, recalculate an ANOVA F-test with only the supplement variable. An ANOVA F-test between two categories is the same as performing a 2-tailed t-test! So, the p-value in the table should be identical to your calculation above.

> Note: there may be a small fractional difference (>0.001) between the two values due to a rounding error between implementations.

In [18]:
# Your code here; conduct an ANOVA F-test of the oj and vc supplement groups.
# Compare the p-value to that of the t-test above. 
# They should match (there may be a tiny fractional difference due to rounding errors in varying implementations)
formula = 'len ~ C(supp)'
lm = ols(formula, df).fit()
table = sm.stats.anova_lm(lm, typ=2)
print(table)

               sum_sq    df         F    PR(>F)
C(supp)    205.350000   1.0  3.668253  0.060393
Residual  3246.859333  58.0       NaN       NaN

## Run multiple t-tests

While the 2-category ANOVA test is identical to a 2-tailed t-test, performing multiple t-tests leads to the multiple comparisons problem. To investigate this, look at the various sample groups you could create from the 2 features:

In [53]:
for group in df.groupby(['supp', 'dose'])['len']:
    group_name = group[0]
    data = group[1]
    display(group)

(('OJ', 0.5),
 30    15.2
 31    21.5
 32    17.6
 33     9.7
 34    14.5
 35    10.0
 36     8.2
 37     9.4
 38    16.5
 39     9.7
 Name: len, dtype: float64)

(('OJ', 1.0),
 40    19.7
 41    23.3
 42    23.6
 43    26.4
 44    20.0
 45    25.2
 46    25.8
 47    21.2
 48    14.5
 49    27.3
 Name: len, dtype: float64)

(('OJ', 2.0),
 50    25.5
 51    26.4
 52    22.4
 53    24.5
 54    24.8
 55    30.9
 56    26.4
 57    27.3
 58    29.4
 59    23.0
 Name: len, dtype: float64)

(('VC', 0.5),
 0     4.2
 1    11.5
 2     7.3
 3     5.8
 4     6.4
 5    10.0
 6    11.2
 7    11.2
 8     5.2
 9     7.0
 Name: len, dtype: float64)

(('VC', 1.0),
 10    16.5
 11    16.5
 12    15.2
 13    17.3
 14    22.5
 15    17.3
 16    13.6
 17    14.5
 18    18.8
 19    15.5
 Name: len, dtype: float64)

(('VC', 2.0),
 20    23.6
 21    18.5
 22    33.9
 23    25.5
 24    26.4
 25    32.5
 26    26.7
 27    21.5
 28    23.3
 29    29.5
 Name: len, dtype: float64)

While bad practice, examine the effects of calculating multiple t-tests with the various combinations of these. To do this, generate all combinations of the above groups. For each pairwise combination, calculate the p-value of a 2-sided t-test. Print the group combinations and their associated p-value for the two-sided t-test.

In [60]:
thing = df.groupby(['supp', 'dose'])['len']
thing

IndexError: Column(s) len already selected

In [55]:
# Your code here; reuse your t-test code above to calculate the p-value for a 2-sided t-test
# for all combinations of the supplement-dose groups listed above. 
# (Since there isn't a control group, compare each group to every other group.)
stats.ttest_ind(df.groupby(['supp', 'dose'])['len'], df.groupby(['supp', 'dose'])['len'], equal_var = False)

IndexError: Column(s) len already selected

## Summary

In this lesson, you implemented the ANOVA technique to generalize testing methods to multiple groups and factors.